*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
}
body{
    font-family: "Fredoka", sans-serif;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.title{
    color: #e53170;
}
.text{
    padding-left: 165px;
    padding-right: 165px;
    text-align: center;
}
.contact{
    color: #0093e7;
}
.designer{
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    width: 358px;
    height: 100px;

}
.list{
    padding-left: 15px;
    list-style-type: none;
}
.img{
    display: flex;
    width: 100px;
    height: 100px;
}
.team-primary{
    display: flex;
    justify-content: space-between;
    padding-left: 208px;
    padding-right: 208px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.team-secundary{
    display: flex;
    justify-content: space-between;
    padding-left: 208px;
    padding-right: 208px;

}