*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
}
body{
    font-family: "Fredoka", sans-serif;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.title{
    color: #e53170;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 265px;
    padding-right: 265px;
    text-align: center;
}
.contact{
    color: #0093e7;
}
.designer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    width: 358px;
    height: 100px;
}
.list{
    list-style-type: none;
}
.img{
    display: flex;
    width: 100px;
    height: 100px;
}